.complete-area {
  width: 48%;
  float: left;
  border-radius: 10px 10px 10px 10px;
  background-color: #d8eeff;
  height: 600px;
}

.complete-area > .title {
  color: #83c7ff;
  text-align: center;
}

.complete-area .lists {
  color: #1f578a;
  padding: 10px;
}

.complete-area .lists .list {
  background-color: #d0ebff;
  overflow-wrap: break-word;
  height: 50px;
  position: relative;
}

.complete-area .list::after {
  content: '';
  display: block;
  clear: both;
}

.complete-area .lists .list div,
.complete-area .lists .list button {
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
.complete-area .lists .list div {
  padding: 13px;
}

.complete-area .lists .list button {
  color: #57b5ff;
  border: 0px;
  background-color: #cde9ff;
  width: 13%;
  padding: 15px;
}

.complete-area .lists .list button:hover {
  background-color: #e0f2ff;
}

.complete-area .lists .list button:nth-child(2) {
  right: 0%;
}

.complete-area .lists .list:nth-of-type(odd) {
  background-color: #e8f5ff;
}

.complete-area .lists .list:nth-of-type(odd) button {
  background-color: #e8f5ff;
}

.complete-area .lists .list:nth-of-type(odd) button:hover {
  background-color: #f6fbff;
}
